# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignora `node_modules`
node_modules

# Ignorar `dist/` excepto los archivos esenciales
dist/*
!dist/index.html
!dist/manifest.json
!dist/assets/
!dist/styles/
!dist/img/
!dist/offline.html
!dist/service-worker.js

# Ignora `dist-ssr`
dist-ssr

# Archivos locales y de configuración
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignora archivos sensibles
.env
