/* General styling for the Testimonial Carousel */
.testimonial-section {
  background-color: #ee8532;
  padding: 2rem 0;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.testimonial-section .container-testimonial {
  max-width: 1200px;
  margin: 70px auto;
  padding: 0 1rem;
}

.testimonial-section h2 {
  color: white !important;
  font-size: 1.2rem !important;
  font-family: "Josefin Slab", serif;
  margin-bottom: 1.5rem;
  text-align: center;
  font-weight: bold;
}

/* Slick Carousel Adjustments */
.testimonial-section .slick-slider {
  display: flex;
  justify-content: center;
}

.testimonial-section .slick-list {
  overflow: hidden !important;
  max-width: 100vw;
  margin-bottom: 50px !important;
}

.testimonial-section .slick-track {
  display: flex !important;
  gap: 100px !important;
}

/* Testimonial Item Styling */
.testimonial-section .testimonial-item {
  color: white;
  background-color: #828362;
  border-radius: 100px 10px 100px 10px;
  margin-top: 50px;
  padding: 2rem;
  width: 300px !important; /* Fija un ancho para evitar deformaciones */
  min-height: 220px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}

.testimonial-section .testimonial-item.slick-center {
  background-color: #ee8532;
  color: #ffffff;
}

.testimonial-section .testimonial-item p {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 20px;
  line-height: 1.5;
}

.testimonial-section .testimonial-item .testimonial-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.testimonial-section .testimonial-item img {
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.testimonial-section .testimonial-item h5 {
  color: #ffffff;
  margin: 0;
  font-weight: bold;
}

.testimonial-section .testimonial-item small {
  color: #cccccc;
}

/* Slick Dots */
.testimonial-section .slick-dots {
  margin-top: 1rem;
}

.testimonial-section .slick-dots li button:before {
  color: #cccccc;
  font-size: 0.8rem;
}

.testimonial-section .slick-dots li.slick-active button:before {
  color: #ffffff;
}

/* Slick Navigation Arrows */
.testimonial-section .slick-prev:before,
.testimonial-section .slick-next:before {
  color: #ffffff;
}

@media (max-width: 1024px) {
  .testimonial-section .testimonial-item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .testimonial-section h2 {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 768px) {
  .testimonial-section h2 {
    font-size: 1rem !important;
  }
  .testimonial-section .testimonial-item {
    max-width: 280px;
    height: 250px;
    margin: 0 auto;
  }
}
