@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;700&family=Poppins:wght@400;700&family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.features-section h3 {
  font-size: 1.3rem !important;
  margin-bottom: 15px;
  font-weight: bold; /* Esto hará que el texto sea negrita */

}

/* Sección principal */
.features-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem 2rem;
}

/* Título */
.features-section-title {
  font-size: 1.5rem;
  color: #ee8532;
  margin-bottom: 2rem;
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  text-align: center;
}

/* Diseño en pantalla grande */
.features-grid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
}

/* Tarjetas de características */
.feature-card,
.features-carousel-item {
  position: relative;
  color: white;
  background-color: #828362;
  border-radius: 10px 100px 70px 70px;
  padding: 3rem;
  margin: 50px auto;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Íconos */
.features-icon-container {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-icon {
  width: 100%;
}

/* Estilos del Carrusel */
.features-slider {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

.features-slider .slick-slide {
  display: flex;
  justify-content: center;
}

.features-slider .slick-dots {
  margin-top: 10px;
}

.features-slider .slick-dots li button:before {
  color: white;
}

.features-slider .slick-dots li.slick-active button:before {
  color: #ee8532;
}


@media (min-width: 1024px) {
  .features-slider {
    display: none; /* Ocultar carrusel en pantallas grandes */
    }
}

/* Pantallas pequeñas */
@media (max-width: 1024px) {
  .features-grid {
    display: none; /* Esconder grid en pantallas pequeñas */
  }

  .features-slider {
    display: block; /* Mostrar el carrusel */
  }
  .features-section-title {
    font-size: 1rem !important;
  }

  .features-carousel-item h3 {
    font-size: 1.2rem !important;
  }
  
  .features-carousel-item p {
    font-size: 1rem !important;
  }

  .features-section .features-carousel-item {
    margin-bottom: 50px !important; /* Aumenta la separación */
  }

  .features-section .features-slider {
    max-width: 300px;
    min-width: 200px;
    height: 320px;
  }

  .features-section .features-carousel-item{
    height: 250px;
    
  }

  
}





